In [1]:
import requests
import numpy as np
import pandas as pd
from pathlib import Path
import os

import json
from SPARQLWrapper import SPARQLWrapper, JSON
from pandas import DataFrame

pd.options.display.max_rows = 250
pd.options.display.max_columns = 50

In [2]:
wds = "https://query.wikidata.org/sparql" 

sparql = SPARQLWrapper("https://query.wikidata.org/sparql", 
            agent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11")

def get_sparql_dataframe(service, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    sparql = SPARQLWrapper(service,  agent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11")
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)





rq = """
SELECT DISTINCT ?personLabel ?spouse1Label ?place_ownLabel ?place_spLabel
?marriage_date_st ?marriage_date_en ?bday_own ?bday_sp ?dday_own ?dday_sp ?genderLabel WHERE {

?person wdt:P31 wd:Q5.
?person wdt:P27 wd:Q668.
?spouse1 wdt:P27 wd:Q668.
?person wdt:P21 ?gender.

?person p:P26 ?spouse. 
?spouse ps:P26 ?spouse1.

?person wdt:P569 ?bday_own. 
?spouse1 wdt:P569 ?bday_sp.

OPTIONAL {?person wdt:P570 ?dday_own. }
OPTIONAL {?spouse wdt:P570 ?dday_sp. }

OPTIONAL {?person wdt:P19 ?place_own. }
OPTIONAL {?spouse1 wdt:P19 ?place_sp. }

?spouse pq:P580 ?marriage_date_st.
OPTIONAL {?spouse pq:P582 ?marriage_date_en. }

#FILTER year marriage date st)>2060)

SERVICE wikibase:label  {bd:serviceParam wikibase:language "en" . }
}
"""

In [3]:
df = get_sparql_dataframe(wds, rq)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   personLabel       621 non-null    object
 1   spouse1Label      621 non-null    object
 2   place_ownLabel    577 non-null    object
 3   place_spLabel     575 non-null    object
 4   marriage_date_st  621 non-null    object
 5   marriage_date_en  282 non-null    object
 6   bday_own          621 non-null    object
 7   bday_sp           621 non-null    object
 8   dday_own          129 non-null    object
 9   dday_sp           0 non-null      object
 10  genderLabel       621 non-null    object
dtypes: object(11)
memory usage: 53.5+ KB

In [5]:
df.head()

,personLabel,spouse1Label,place_ownLabel,place_spLabel,marriage_date_st,marriage_date_en,bday_own,bday_sp,dday_own,dday_sp,genderLabel
0,Jyothirmayi,Amal Neerad,Kottayam,Kollam,2015-01-01T00:00:00Z,None,1983-04-05T00:00:00Z,1976-10-07T00:00:00Z,None,None,female
1,Ramya Krishnan,Krishna Vamsi,Chennai,Tadepalligudem,2003-01-01T00:00:00Z,None,1967-09-15T00:00:00Z,1962-07-28T00:00:00Z,None,None,female
2,Gauri Khan,Shah Rukh Khan,New Delhi,New Delhi,1991-01-01T00:00:00Z,None,1970-10-08T00:00:00Z,1965-11-02T00:00:00Z,None,None,female
3,Anuradha Ghandy,Kobad Ghandy,Mumbai,Mumbai,1983-01-01T00:00:00Z,2008-01-01T00:00:00Z,1954-03-28T00:00:00Z,1951-01-01T00:00:00Z,2008-04-12T00:00:00Z,None,female
4,Amala Paul,A. L. Vijay,Kochi,Chennai,2014-01-01T00:00:00Z,2016-01-01T00:00:00Z,1991-10-26T00:00:00Z,1983-06-17T00:00:00Z,None,None,female

In [6]:
#Remove duplicates in pairing
m = ~pd.DataFrame(np.sort(df[['personLabel','spouse1Label']], axis=1)).duplicated()
df = df[m]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 607
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   personLabel       284 non-null    object
 1   spouse1Label      284 non-null    object
 2   place_ownLabel    261 non-null    object
 3   place_spLabel     263 non-null    object
 4   marriage_date_st  284 non-null    object
 5   marriage_date_en  121 non-null    object
 6   bday_own          284 non-null    object
 7   bday_sp           284 non-null    object
 8   dday_own          56 non-null     object
 9   dday_sp           0 non-null      object
 10  genderLabel       284 non-null    object
dtypes: object(11)
memory usage: 26.6+ KB

In [8]:
df_male = df[df['genderLabel'] =='male']

df_male['bday_own']= pd.to_datetime(df_male['bday_own'], errors = 'coerce')
df_male['m_day'] = df_male['bday_own'].dt.day.astype(int)
df_male['m_month'] = df_male['bday_own'].dt.month.astype(int)
df_male['m_year'] = df_male['bday_own'].dt.year.astype(int)
df_male['m_hour'] = 12
df_male['m_min'] = 15
df_male['m_tzone'] = 5.5

df_male['bday_sp']= pd.to_datetime(df_male['bday_sp'], errors = 'coerce')
df_male['f_day'] = df_male['bday_sp'].dt.day.astype(int)
df_male['f_month'] = df_male['bday_sp'].dt.month.astype(int)
df_male['f_year'] = df_male['bday_sp'].dt.year.astype(int)
df_male['f_hour'] = 12
df_male['f_min'] = 10
df_male['f_tzone'] = 5.5

C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df_male

,personLabel,spouse1Label,place_ownLabel,place_spLabel,marriage_date_st,marriage_date_en,bday_own,bday_sp,dday_own,dday_sp,genderLabel,m_day,m_month,m_year,m_hour,m_min,m_tzone,f_day,f_month,f_year,f_hour,f_min,f_tzone
6,Abhishek Bachchan,Aishwarya Rai,Mumbai,Mangalore,2007-04-20T00:00:00Z,None,1976-02-05 00:00:00+00:00,1973-11-01 00:00:00+00:00,None,None,male,5,2,1976,12,15,5.5,1,11,1973,12,10,5.5
9,Nikhil Nanda,Shweta Bachchan Nanda,Ludhiana,Mumbai,1997-02-16T00:00:00Z,None,1974-03-18 00:00:00+00:00,1974-03-17 00:00:00+00:00,None,None,male,18,3,1974,12,15,5.5,17,3,1974,12,10,5.5
11,Manoj K. Jayan,Urvashi,Kottayam district,Thiruvananthapuram,2000-01-01T00:00:00Z,2008-01-01T00:00:00Z,1966-03-15 00:00:00+00:00,1967-01-25 00:00:00+00:00,None,None,male,15,3,1966,12,15,5.5,25,1,1967,12,10,5.5
12,Goldie Behl,Sonali Bendre,Mumbai,Mumbai,2002-11-12T00:00:00Z,None,1969-02-23 00:00:00+00:00,1975-01-01 00:00:00+00:00,None,None,male,23,2,1969,12,15,5.5,1,1,1975,12,10,5.5
15,Randhir Kapoor,Babita,Mumbai,Mumbai,1971-01-01T00:00:00Z,None,1947-02-15 00:00:00+00:00,1948-04-20 00:00:00+00:00,None,None,male,15,2,1947,12,15,5.5,20,4,1948,12,10,5.5
18,Sathaar,Jayabharathi,Kerala,Erode,1979-01-01T00:00:00Z,1987-01-01T00:00:00Z,1952-05-25 00:00:00+00:00,1950-01-01 00:00:00+00:00,2019-09-17T00:00:00Z,None,male,25,5,1952,12,15,5.5,1,1,1950,12,10,5.5
22,Siddharth Roy Kapur,Vidya Balan,Mumbai,Palakkad district,2012-12-14T00:00:00Z,None,1974-08-02 00:00:00+00:00,1979-01-01 00:00:00+00:00,None,None,male,2,8,1974,12,15,5.5,1,1,1979,12,10,5.5
27,Sumanth,Keerthi Reddy,Hyderabad,Hyderabad,2004-01-01T00:00:00Z,2006-01-01T00:00:00Z,1975-02-09 00:00:00+00:00,1978-11-17 00:00:00+00:00,None,None,male,9,2,1975,12,15,5.5,17,11,1978,12,10,5.5
28,Ranvir Shorey,Konkona Sen Sharma,Jalandhar,New Delhi,2010-01-01T00:00:00Z,None,1972-08-18 00:00:00+00:00,1979-12-03 00:00:00+00:00,None,None,male,18,8,1972,12,15,5.5,3,12,1979,12,10,5.5
31,Anup Soni,Juhi Babbar,Pune,Lucknow,2011-01-01T00:00:00Z,None,1975-01-30 00:00:00+00:00,1979-07-20 00:00:00+00:00,None,None,male,30,1,1975,12,15,5.5,20,7,1979,12,10,5.5
34,Shirish Kunder,Farah Khan,Mangalore,Mumbai,2004-01-01T00:00:00Z,None,1973-05-24 00:00:00+00:00,1965-01-09 00:00:00+00:00,None,None,male,24,5,1973,12,15,5.5,9,1,1965,12,10,5.5
37,Jayaram,Parvathy,Perumbavoor,Kaviyoor,1992-01-01T00:00:00Z,None,1965-12-10 00:00:00+00:00,1969-04-07 00:00:00+00:00,None,None,male,10,12,1965,12,15,5.5,7,4,1969,12,10,5.5
38,Kishore Kumar,Yogeeta Bali,Khandwa,None,1975-01-01T00:00:00Z,1978-01-01T00:00:00Z,1929-08-04 00:00:00+00:00,1952-12-29 00:00:00+00:00,1987-10-13T00:00:00Z,None,male,4,8,1929,12,15,5.5,29,12,1952,12,10,5.5
41,Abhinav Mittal,Aanchal Kumar,None,Chandigarh,2013-01-01T00:00:00Z,None,1971-12-23 00:00:00+00:00,1979-10-24 00:00:00+00:00,None,None,male,23,12,1971,12,15,5.5,24,10,1979,12,10,5.5
43,Riteish Deshmukh,Genelia D'Souza Deshmukh,Latur,Mumbai,2012-01-01T00:00:00Z,None,1978-12-17 00:00:00+00:00,1987-08-05 00:00:00+00:00,None,None,male,17,12,1978,12,15,5.5,5,8,1987,12,10,5.5
46,Sunil Dutt,Nargis,Jhelum,Kolkata,1959-01-01T00:00:00Z,1981-01-01T00:00:00Z,1929-06-06 00:00:00+00:00,1929-06-01 00:00:00+00:00,2005-05-25T00:00:00Z,None,male,6,6,1929,12,15,5.5,1,6,1929,12,10,5.5
52,Mithun Chakraborty,Yogeeta Bali,Kolkata,None,1979-01-01T00:00:00Z,None,1950-06-16 00:00:00+00:00,1952-12-29 00:00:00+00:00,None,None,male,16,6,1950,12,15,5.5,29,12,1952,12,10,5.5
55,Dharmendra,Hema Malini,Nasrali,Ammankudi,1980-01-01T00:00:00Z,None,1935-12-08 00:00:00+00:00,1948-10-16 00:00:00+00:00,None,None,male,8,12,1935,12,15,5.5,16,10,1948,12,10,5.5
58,Gulzar,Rakhee Gulzar,Dina,Ranaghat,1973-01-01T00:00:00Z,None,1936-08-18 00:00:00+00:00,1947-08-15 00:00:00+00:00,None,None,male,18,8,1936,12,15,5.5,15,8,1947,12,10,5.5
60,Saif Ali Khan,Kareena Kapoor,New Delhi,Mumbai,2012-10-16T00:00:00Z,None,1970-08-16 00:00:00+00:00,1980-09-21 00:00:00+00:00,None,None,male,16,8,1970,12,15,5.5,21,9,1980,12,10,5.5
62,Ajith Kumar,Shalini Kumar,Secunderabad,Thrissur,2000-01-01T00:00:00Z,None,1971-05-01 00:00:00+00:00,1980-11-20 00:00:00+00:00,None,None,male,1,5,1971,12,15,5.5,20,11,1980,12,10,5.5
66,Vishnuvardhan,Bharathi Vishnuvardhan,Mysore,Karnataka,1975-01-01T00:00:00Z,2009-01-01T00:00:00Z,1952-09-18 00:00:00+00:00,1951-01-15 00:00:00+00:00,2009-12-30T00:00:00Z,None,male,18,9,1952,12,15,5.5,15,1,1951,12,10,5.5
69,Dhanush,Aishwarya R. Dhanush,Chennai,Chennai,2004-01-01T00:00:00Z,None,1983-02-25 00:00:00+00:00,1982-01-01 00:00:00+00:00,None,None,male,25,2,1983,12,15,5.5,1,1,1982,12,10,5.5
76,Raghuvaran,Rohini,Kerala,Anakapalle,1996-01-01T00:00:00Z,2004-01-01T00:00:00Z,1958-12-10 00:00:00+00:00,1969-12-15 00:00:00+00:00,2008-03-19T00:00:00Z,None,male,10,12,1958,12,15,5.5,15,12,1969,12,10,5.5
85,Mahesh Bhupathi,Lara Dutta,Chennai,Ghaziabad,2011-01-01T00:00:00Z,None,1974-06-07 00:00:00+00:00,1978-04-16 00:00:00+00:00,None,None,male,7,6,1974,12,15,5.5,16,4,1978,12,10,5.5
86,Rahul Dev Burman,Asha Bhosle,Kolkata,Sangli,1980-01-01T00:00:00Z,1994-01-01T00:00:00Z,1939-06-27 00:00:00+00:00,1933-09-08 00:00:00+00:00,1994-01-04T00:00:00Z,None,male,27,6,1939,12,15,5.5,8,9,1933,12,10,5.5
87,Ashoke Pandit,Neerja Pandit,Mumbai,None,1988-01-01T00:00:00Z,None,1966-05-11 00:00:00+00:00,1966-12-20 00:00:00+00:00,None,None,male,11,5,1966,12,15,5.5,20,12,1966,12,10,5.5
97,Farhan Azmi,Ayesha Takia,Mumbai,Mumbai,2009-01-01T00:00:00Z,None,1982-02-21 00:00:00+00:00,1986-04-10 00:00:00+00:00,None,None,male,21,2,1982,12,15,5.5,10,4,1986,12,10,5.5
102,Karan Singh Grover,Bipasha Basu,New Delhi,New Delhi,2016-01-01T00:00:00Z,None,1982-02-23 00:00:00+00:00,1979-01-07 00:00:00+00:00,None,None,male,23,2,1982,12,15,5.5,7,1,1979,12,10,5.5
106,Kishore Kumar,Madhubala,Khandwa,New Delhi,1960-01-01T00:00:00Z,1969-01-01T00:00:00Z,1929-08-04 00:00:00+00:00,1933-02-14 00:00:00+00:00,1987-10-13T00:00:00Z,None,male,4,8,1929,12,15,5.5,14,2,1933,12,10,5.5
107,Bejoy Nambiar,Juhi Babbar,Kochi,Lucknow,2007-01-01T00:00:00Z,2009-01-01T00:00:00Z,1979-04-12 00:00:00+00:00,1979-07-20 00:00:00+00:00,None,None,male,12,4,1979,12,15,5.5,20,7,1979,12,10,5.5
109,Boney Kapoor,Sridevi,Meerut,Sivakasi,1996-01-01T00:00:00Z,2018-01-01T00:00:00Z,1953-11-11 00:00:00+00:00,1963-08-13 00:00:00+00:00,None,None,male,11,11,1953,12,15,5.5,13,8,1963,12,10,5.5
112,Raj Babbar,Nadira Babbar,Tundla,Mumbai,1975-01-01T00:00:00Z,1983-01-01T00:00:00Z,1952-06-23 00:00:00+00:00,1948-01-20 00:00:00+00:00,None,None,male,23,6,1952,12,15,5.5,20,1,1948,12,10,5.5
113,Ranveer Singh,Deepika Padukone,Mumbai,Copenhagen,2018-11-14T00:00:00Z,None,1985-07-06 00:00:00+00:00,1986-01-05 00:00:00+00:00,None,None,male,6,7,1985,12,15,5.5,5,1,1986,12,10,5.5
115,Anupam Kher,Kirron Kher,Shimla,Chandigarh,1985-01-01T00:00:00Z,None,1955-03-07 00:00:00+00:00,1955-06-14 00:00:00+00:00,None,None,male,7,3,1955,12,15,5.5,14,6,1955,12,10,5.5
117,Dileep (Gopalakrishnan P Pillai),Kavya Madhavan,Aluva,Nileshwaram,2016-01-01T00:00:00Z,None,1968-10-27 00:00:00+00:00,1984-09-19 00:00:00+00:00,None,None,male,27,10,1968,12,15,5.5,19,9,1984,12,10,5.5
126,Suriya,Jyothika,Coimbatore,Mumbai,2006-01-01T00:00:00Z,None,1975-01-01 00:00:00+00:00,1977-10-18 00:00:00+00:00,None,None,male,1,1,1975,12,15,5.5,18,10,1977,12,10,5.5
127,Fahadh Faasil,Nazriya Nazim,Alappuzha,Thiruvananthapuram,2014-01-01T00:00:00Z,None,1982-08-08 00:00:00+00:00,1994-12-20 00:00:00+00:00,None,None,male,8,8,1982,12,15,5.5,20,12,1994,12,10,5.5
135,Sharad Kelkar,Keerti Gaekwad Kelkar,Gwalior,Mumbai,2005-01-01T00:00:00Z,None,1976-10-07 00:00:00+00:00,1984-01-21 00:00:00+00:00,None,None,male,7,10,1976,12,15,5.5,21,1,1984,12,10,5.5
138,Mohan Sharma,Yaragudipati Venkata Mahalakshmi,Thathamangalam,Chennai,1975-01-01T00:00:00Z,1980-01-01T00:00:00Z,1956-08-23 00:00:00+00:00,1952-12-13 00:00:00+00:00,None,None,male,23,8,1956,12,15,5.5,13,12,1952,12,10,5.5
139,Arbaaz Khan,Malaika Arora,Mumbai,Thane,1998-01-01T00:00:00Z,2017-01-01T00:00:00Z,1967-08-04 00:00:00+00:00,1975-10-23 00:00:00+00:00,None,None,male,4,8,1967,12,15,5.5,23,10,1975,12,10,5.5
140,Feroze Gandhi,Indira Gandhi,Mumbai,Allahabad,1942-03-26T00:00:00Z,1960-09-08T00:00:00Z,1912-09-12 00:00:00+00:00,1917-11-19 00:00:00+00:00,1960-09-08T00:00:00Z,None,male,12,9,1912,12,15,5.5,19,11,1917,12,10,5.5
141,Mohammad Azharuddin,Sangeeta Bijlani,Hyderabad,Ghaziabad,1996-01-01T00:00:00Z,2010-01-01T00:00:00Z,1963-02-08 00:00:00+00:00,1960-07-09 00:00:00+00:00,None,None,male,8,2,1963,12,15,5.5,9,7,1960,12,10,5.5
143,Ranjith,Priya Raman,Tamil Nadu,Aluva,1999-01-01T00:00:00Z,2014-01-01T00:00:00Z,1979-08-13 00:00:00+00:00,1974-09-14 00:00:00+00:00,None,None,male,13,8,1979,12,15,5.5,14,9,1974,12,10,5.5
146,Abhinav Kohli,Shweta Tiwari,Jammu,"Pratapgarh, Uttar Pradesh",2013-01-01T00:00:00Z,None,1981-06-06 00:00:00+00:00,1980-10-04 00:00:00+00:00,None,None,male,6,6,1981,12,15,5.5,4,10,1980,12,10,5.5
152,Prem Sahgal,Lakshmi Sahgal,None,Chennai,1947-03-01T00:00:00Z,1992-10-17T00:00:00Z,1917-03-25 00:00:00+00:00,1914-10-24 00:00:00+00:00,1992-10-17T00:00:00Z,None,male,25,3,1917,12,15,5.5,24,10,1914,12,10,5.5
157,Aditya Chopra,Rani Mukherjee,Mumbai,Mumbai,2014-01-01T00:00:00Z,None,1971-05-21 00:00:00+00:00,1978-03-21 00:00:00+00:00,None,None,male,21,5,1971,12,15,5.5,21,3,1978,12,10,5.5
169,Mahesh Babu,Namrata Shirodkar,Chennai,Mumbai,2005-01-01T00:00:00Z,None,1975-08-09 00:00:00+00:00,1972-01-22 00:00:00+00:00,None,None,male,9,8,1975,12,15,5.5,22,1,1972,12,10,5.5
170,Javed Akhtar,Shabana Azmi,Khairabad,Azamgarh,1984-01-01T00:00:00Z,None,1945-01-17 00:00:00+00:00,1950-09-18 00:00:00+00:00,None,None,male,17,1,1945,12,15,5.5,18,9,1950,12,10,5.5
172,Asaf Ali,Aruna Asaf Ali,Delhi,Kalka,1928-01-01T00:00:00Z,1953-01-01T00:00:00Z,1888-05-11 00:00:00+00:00,1909-07-16 00:00:00+00:00,1953-04-01T00:00:00Z,None,male,11,5,1888,12,15,5.5,16,7,1909,12,10,5.5
173,L. Subramaniam,Kavita Krishnamurthy,Chennai,New Delhi,1999-11-11T00:00:00Z,None,1947-07-23 00:00:00+00:00,1958-01-25 00:00:00+00:00,None,None,male,23,7,1947,12,15,5.5,25,1,1958,12,10,5.5
177,Rahul Sharma,Asin,Delhi,Kochi,2016-01-01T00:00:00Z,None,1975-09-14 00:00:00+00:00,1985-10-26 00:00:00+00:00,None,None,male,14,9,1975,12,15,5.5,26,10,1985,12,10,5.5
180,Salim Khan,Helen,Indore,Yangon,1981-01-01T00:00:00Z,None,1935-11-24 00:00:00+00:00,1938-11-21 00:00:00+00:00,None,None,male,24,11,1935,12,15,5.5,21,11,1938,12,10,5.5
185,Vidhu Vinod Chopra,Anupama Chopra,Srinagar,Kolkata,1996-01-01T00:00:00Z,None,1952-09-05 00:00:00+00:00,1967-02-23 00:00:00+00:00,None,None,male,5,9,1952,12,15,5.5,23,2,1967,12,10,5.5
186,Kunal Khemu,Soha Ali Khan,Srinagar,New Delhi,2015-01-01T00:00:00Z,None,1983-05-25 00:00:00+00:00,1978-10-04 00:00:00+00:00,None,None,male,25,5,1983,12,15,5.5,4,10,1978,12,10,5.5
187,Raja Chaudhary,Shweta Tiwari,Bagpat district,"Pratapgarh, Uttar Pradesh",1998-01-01T00:00:00Z,2007-01-01T00:00:00Z,1975-07-23 00:00:00+00:00,1980-10-04 00:00:00+00:00,None,None,male,23,7,1975,12,15,5.5,4,10,1980,12,10,5.5
189,Svetoslav Roerich,Devika Rani,Saint Petersburg,Visakhapatnam,1945-01-01T00:00:00Z,1993-01-01T00:00:00Z,1904-10-23 00:00:00+00:00,1908-03-30 00:00:00+00:00,1993-01-30T00:00:00Z,None,male,23,10,1904,12,15,5.5,30,3,1908,12,10,5.5
191,Kamal Amrohi,Meena Kumari,Amroha,Dadar,1952-01-01T00:00:00Z,1972-03-31T00:00:00Z,1918-01-17 00:00:00+00:00,1933-08-01 00:00:00+00:00,1993-02-11T00:00:00Z,None,male,17,1,1918,12,15,5.5,1,8,1933,12,10,5.5
192,Mansoor Ali Khan Pataudi,Sharmila Tagore,Bhopal,Hyderabad,1967-01-01T00:00:00Z,2011-01-01T00:00:00Z,1941-01-05 00:00:00+00:00,1944-12-08 00:00:00+00:00,2011-09-22T00:00:00Z,None,male,5,1,1941,12,15,5.5,8,12,1944,12,10,5.5
202,Sundar C.,Kushboo,Erode,Andheri,2000-01-01T00:00:00Z,None,1968-01-21 00:00:00+00:00,1970-09-19 00:00:00+00:00,None,None,male,21,1,1968,12,15,5.5,19,9,1970,12,10,5.5
205,Naga Chaitanya,Samantha Akkineni,Hyderabad,Chennai,2017-01-01T00:00:00Z,None,1986-11-23 00:00:00+00:00,1987-04-28 00:00:00+00:00,None,None,male,23,11,1986,12,15,5.5,28,4,1987,12,10,5.5
207,Nikitin Dheer,Kratika Sengar,Mumbai,Kanpur,2014-01-01T00:00:00Z,None,1980-03-17 00:00:00+00:00,1986-07-03 00:00:00+00:00,None,None,male,17,3,1980,12,15,5.5,3,7,1986,12,10,5.5
212,Parvin Dabas,Preeti Jhangiani,Delhi,Mangalore,2008-01-01T00:00:00Z,None,1974-07-12 00:00:00+00:00,1980-08-18 00:00:00+00:00,None,None,male,12,7,1974,12,15,5.5,18,8,1980,12,10,5.5
213,Harindranath Chattopadhyay,Kamaladevi Chattopadhyay,Hyderabad,Mangalore,1919-01-01T00:00:00Z,1988-01-01T00:00:00Z,1898-04-02 00:00:00+00:00,1903-04-03 00:00:00+00:00,1990-06-23T00:00:00Z,None,male,2,4,1898,12,15,5.5,3,4,1903,12,10,5.5
214,Gemini Ganesan,Savitri,Pudukkottai,Guntur district,1954-01-01T00:00:00Z,1981-01-01T00:00:00Z,1919-11-16 00:00:00+00:00,1937-12-06 00:00:00+00:00,2005-03-21T00:00:00Z,None,male,16,11,1919,12,15,5.5,6,12,1937,12,10,5.5
217,Rajkumar Sethupathi,Sripriya,Chennai,Chennai,1988-01-01T00:00:00Z,None,1954-07-21 00:00:00+00:00,1956-03-05 00:00:00+00:00,None,None,male,21,7,1954,12,15,5.5,5,3,1956,12,10,5.5
220,R. Sarathkumar,Raadhika Sarathkumar,New Delhi,Chennai district,2001-01-01T00:00:00Z,None,1954-07-14 00:00:00+00:00,1962-08-21 00:00:00+00:00,None,None,male,14,7,1954,12,15,5.5,21,8,1962,12,10,5.5
229,Shayan Munshi,Peeya Rai Chowdhary,Kolkata,Bengaluru,2006-01-01T00:00:00Z,2010-01-01T00:00:00Z,1978-10-29 00:00:00+00:00,1953-01-01 00:00:00+00:00,None,None,male,29,10,1978,12,15,5.5,1,1,1953,12,10,5.5
230,Ponvannan,Saranya Ponvannan,Erode district,Alappuzha,1995-01-01T00:00:00Z,None,1964-09-23 00:00:00+00:00,1970-04-26 00:00:00+00:00,None,None,male,23,9,1964,12,15,5.5,26,4,1970,12,10,5.5
241,G. V. Prakash Kumar,Saindhavi,Chennai,None,2013-06-27T00:00:00Z,None,1987-06-13 00:00:00+00:00,1989-01-03 00:00:00+00:00,None,None,male,13,6,1987,12,15,5.5,3,1,1989,12,10,5.5
244,Puran Chand Joshi,Kalpana Datta,Almora,Q16346758,1943-01-01T00:00:00Z,None,1907-04-14 00:00:00+00:00,1913-07-27 00:00:00+00:00,1980-11-09T00:00:00Z,None,male,14,4,1907,12,15,5.5,27,7,1913,12,10,5.5
250,Subhalekha Sudhakar,S. P. Sailaja,Visakhapatnam,None,1987-01-01T00:00:00Z,None,1960-11-19 00:00:00+00:00,1963-07-22 00:00:00+00:00,None,None,male,19,11,1960,12,15,5.5,22,7,1963,12,10,5.5
251,Prosenjit Chatterjee,Debashree Roy,Kolkata,Kolkata,1992-01-01T00:00:00Z,1995-01-01T00:00:00Z,1962-09-30 00:00:00+00:00,1961-08-08 00:00:00+00:00,None,None,male,30,9,1962,12,15,5.5,8,8,1961,12,10,5.5
253,Bunker Roy,Aruna Roy,Burnpur,Chennai,1970-01-01T00:00:00Z,None,1945-08-02 00:00:00+00:00,1946-06-26 00:00:00+00:00,None,None,male,2,8,1945,12,15,5.5,26,6,1946,12,10,5.5
267,Chiranjeevi Sarja,Meghana Raj,Bengaluru,Bengaluru,2018-01-01T00:00:00Z,2020-01-01T00:00:00Z,1980-10-17 00:00:00+00:00,1990-05-03 00:00:00+00:00,2020-06-07T00:00:00Z,None,male,17,10,1980,12,15,5.5,3,5,1990,12,10,5.5
269,V. Shantaram,Sandhya Shantaram,Kolhapur State,None,1956-12-22T00:00:00Z,None,1901-11-18 00:00:00+00:00,1932-01-01 00:00:00+00:00,1990-10-30T00:00:00Z,None,male,18,11,1901,12,15,5.5,1,1,1932,12,10,5.5
272,Sumeet Saigal,Farah,Mumbai,Hyderabad,2007-01-01T00:00:00Z,None,1966-02-18 00:00:00+00:00,1968-12-09 00:00:00+00:00,None,None,male,18,2,1966,12,15,5.5,9,12,1968,12,10,5.5
276,Sunil Shetty,Mana Shetty,Mangalore,None,1991-01-01T00:00:00Z,None,1961-08-11 00:00:00+00:00,1965-08-01 00:00:00+00:00,None,None,male,11,8,1961,12,15,5.5,1,8,1965,12,10,5.5
280,Rahul Ravindran,Chinmayi Sripada,Chennai,Mumbai,2014-05-05T00:00:00Z,None,1981-06-23 00:00:00+00:00,1984-09-08 00:00:00+00:00,None,None,male,23,6,1981,12,15,5.5,8,9,1984,12,10,5.5
282,Ravi Dubey,Sargun Mehta,Gurugram,Chandigarh,2013-01-01T00:00:00Z,None,1983-12-23 00:00:00+00:00,1988-09-06 00:00:00+00:00,None,None,male,23,12,1983,12,15,5.5,6,9,1988,12,10,5.5
285,R. Balki,Gauri Shinde,Kumbakonam,Pune,2007-01-01T00:00:00Z,None,1965-04-22 00:00:00+00:00,1974-07-06 00:00:00+00:00,None,None,male,22,4,1965,12,15,5.5,6,7,1974,12,10,5.5
293,Manish Makhija,Pooja Bhatt,Delhi,Mumbai,2003-01-01T00:00:00Z,2014-01-01T00:00:00Z,1967-12-23 00:00:00+00:00,1972-02-24 00:00:00+00:00,None,None,male,23,12,1967,12,15,5.5,24,2,1972,12,10,5.5
298,Krishna Abhishek,Kashmira Shah,Mumbai,Mumbai,2013-01-01T00:00:00Z,None,1980-08-25 00:00:00+00:00,1970-12-02 00:00:00+00:00,None,None,male,25,8,1980,12,15,5.5,2,12,1970,12,10,5.5
300,Saeed Jaffrey,Madhur Jaffrey,Punjab,Delhi,1958-01-01T00:00:00Z,1965-01-01T00:00:00Z,1929-01-08 00:00:00+00:00,1933-08-13 00:00:00+00:00,2015-11-15T00:00:00Z,None,male,8,1,1929,12,15,5.5,13,8,1933,12,10,5.5
301,Arjun Punj,Gurdeep Kohli,Mumbai,Mumbai,2006-01-01T00:00:00Z,None,1982-07-26 00:00:00+00:00,1980-01-30 00:00:00+00:00,None,None,male,26,7,1982,12,15,5.5,30,1,1980,12,10,5.5
303,Dileep (Gopalakrishnan P Pillai),Manju Warrier,Aluva,Thrissur,1998-01-01T00:00:00Z,2014-01-01T00:00:00Z,1968-10-27 00:00:00+00:00,1978-09-10 00:00:00+00:00,None,None,male,27,10,1968,12,15,5.5,10,9,1978,12,10,5.5
311,Kunal Ganjawala,Gayatri Iyer,Pune,Lucknow,2005-01-01T00:00:00Z,None,1972-04-14 00:00:00+00:00,1985-01-01 00:00:00+00:00,None,None,male,14,4,1972,12,15,5.5,1,1,1985,12,10,5.5
315,Pawan Kumar,Geeta Phogat,Delhi,Balali,2016-11-21T00:00:00Z,None,1993-10-16 00:00:00+00:00,1988-12-15 00:00:00+00:00,None,None,male,16,10,1993,12,15,5.5,15,12,1988,12,10,5.5
317,Mohit Sehgal,Sanaya Irani,Chandigarh,Mumbai,2016-01-01T00:00:00Z,None,1985-12-03 00:00:00+00:00,1983-09-17 00:00:00+00:00,None,None,male,3,12,1985,12,15,5.5,17,9,1983,12,10,5.5
318,B. R. Ishara,Rehana Sultan,Chintpurni,Allahabad,1984-01-01T00:00:00Z,2012-07-24T00:00:00Z,1934-09-07 00:00:00+00:00,1950-11-19 00:00:00+00:00,2012-07-25T00:00:00Z,None,male,7,9,1934,12,15,5.5,19,11,1950,12,10,5.5
341,Avinash,Malavika Avinash,Yelandur,Chennai,2001-01-01T00:00:00Z,None,1959-12-22 00:00:00+00:00,1976-01-28 00:00:00+00:00,None,None,male,22,12,1959,12,15,5.5,28,1,1976,12,10,5.5
343,Rahul Banerjee,Priyanka Sarkar,Kolkata,Kolkata,2010-01-01T00:00:00Z,None,1983-10-16 00:00:00+00:00,1990-12-31 00:00:00+00:00,None,None,male,16,10,1983,12,15,5.5,31,12,1990,12,10,5.5
345,Zaheer Khan,Sagarika Ghatge,Shrirampur,Kolhapur,2017-11-24T00:00:00Z,None,1978-10-07 00:00:00+00:00,1986-01-08 00:00:00+00:00,None,None,male,7,10,1978,12,15,5.5,8,1,1986,12,10,5.5
346,Vidhu Vinod Chopra,Renu Saluja,Srinagar,Delhi,1976-01-01T00:00:00Z,1983-01-01T00:00:00Z,1952-09-05 00:00:00+00:00,1952-07-05 00:00:00+00:00,None,None,male,5,9,1952,12,15,5.5,5,7,1952,12,10,5.5
347,DJ Aqeel,Farah Khan Ali,Hyderabad,Mumbai,1999-01-01T00:00:00Z,None,1977-11-23 00:00:00+00:00,1969-12-28 00:00:00+00:00,None,None,male,23,11,1977,12,15,5.5,28,12,1969,12,10,5.5
349,Vivek Dahiya,Divyanka Tripathi,Chandigarh,Bhopal,2016-01-01T00:00:00Z,None,1984-11-08 00:00:00+00:00,1984-12-14 00:00:00+00:00,None,None,male,8,11,1984,12,15,5.5,14,12,1984,12,10,5.5
350,Ali Merchant,Sara Khan,Mumbai,Bhopal,2010-01-01T00:00:00Z,2011-01-01T00:00:00Z,1984-12-13 00:00:00+00:00,1989-08-06 00:00:00+00:00,None,None,male,13,12,1984,12,15,5.5,6,8,1989,12,10,5.5
351,Swaraj Kaushal,Sushma Swaraj,Delhi,Ambala Cantonment,1975-07-13T00:00:00Z,None,1952-07-12 00:00:00+00:00,1952-02-14 00:00:00+00:00,None,None,male,12,7,1952,12,15,5.5,14,2,1952,12,10,5.5
360,Raqesh Vashisth,Riddhi Dogra,Mumbai,New Delhi,2011-01-01T00:00:00Z,None,1978-09-01 00:00:00+00:00,1984-09-22 00:00:00+00:00,None,None,male,1,9,1978,12,15,5.5,22,9,1984,12,10,5.5
365,Shiladitya Mukhopadhyaya,Shreya Ghoshal,None,Durgapur,2015-01-01T00:00:00Z,None,1983-10-03 00:00:00+00:00,1984-03-12 00:00:00+00:00,None,None,male,3,10,1983,12,15,5.5,12,3,1984,12,10,5.5
385,Karanvir Bohra,Teejay Sidhu,Jodhpur,Punjab,2006-01-01T00:00:00Z,None,1982-08-28 00:00:00+00:00,1980-01-22 00:00:00+00:00,None,None,male,28,8,1982,12,15,5.5,22,1,1980,12,10,5.5
389,Satyawart Kadian,Sakshi Malik,Rohtak,Rohtak,2017-04-02T00:00:00Z,None,1993-11-09 00:00:00+00:00,1992-09-03 00:00:00+00:00,None,None,male,9,11,1993,12,15,5.5,3,9,1992,12,10,5.5
394,Suchendra Prasad,Pavithra Lokesh,Karnataka,Mysore,2008-01-01T00:00:00Z,None,1973-01-01 00:00:00+00:00,1979-01-01 00:00:00+00:00,None,None,male,1,1,1973,12,15,5.5,1,1,1979,12,10,5.5

In [10]:
#pip install geopy

In [16]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="astroML")
#location = geolocator.geocode("Delhi")
df_male["Coordinates_own"] = df["place_ownLabel"].apply(geolocator.geocode)
df_male["Coordinates_sp"] = df["place_spLabel"].apply(geolocator.geocode)

df_male['m_lat'] = df_male["Coordinates_own"].apply(lambda x: x.latitude if x != None else None)
df_male['m_lon'] = df_male["Coordinates_own"].apply(lambda x: x.longitude if x != None else None)

df_male['f_lat'] = df_male["Coordinates_sp"].apply(lambda x: x.latitude if x != None else None)
df_male['f_lon'] = df_male["Coordinates_sp"].apply(lambda x: x.longitude if x != None else None)

C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\suvad\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [22]:
df_fmale = df[df['genderLabel'] =='female']
df_fmale = df_fmale.iloc[:-1,:]

df_fmale['bday_own']= pd.to_datetime(df_fmale['bday_own'], errors = 'coerce')
df_fmale['f_day'] = df_fmale['bday_own'].dt.day.astype(int)
df_fmale['f_month'] = df_fmale['bday_own'].dt.month.astype(int)
df_fmale['f_year'] = df_fmale['bday_own'].dt.year.astype(int)
df_fmale['f_hour'] = 12
df_fmale['f_min'] = 15
df_fmale['f_tzone'] = 5.5

df_fmale['bday_sp']= pd.to_datetime(df_fmale['bday_sp'], errors = 'coerce')
df_fmale['m_day'] = df_fmale['bday_sp'].dt.day.astype(int)
df_fmale['m_month'] = df_fmale['bday_sp'].dt.month.astype(int)
df_fmale['m_year'] = df_fmale['bday_sp'].dt.year.astype(int)
df_fmale['m_hour'] = 12
df_fmale['m_min'] = 10
df_fmale['m_tzone'] = 5.5

geolocator = Nominatim(user_agent="astroML", timeout=3)
df_fmale["Coordinates_own"] = df["place_ownLabel"].apply(geolocator.geocode)
df_fmale["Coordinates_sp"] = df["place_spLabel"].apply(geolocator.geocode)

df_fmale['f_lat'] = df_fmale["Coordinates_own"].apply(lambda x: x.latitude if x != None else None)
df_fmale['f_lon'] = df_fmale["Coordinates_own"].apply(lambda x: x.longitude if x != None else None)

df_fmale['m_lat'] = df_fmale["Coordinates_sp"].apply(lambda x: x.latitude if x != None else None)
df_fmale['m_lon'] = df_fmale["Coordinates_sp"].apply(lambda x: x.longitude if x != None else None)

In [29]:
#cleanup
df1 = df_male.append(df_fmale)

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 6 to 597
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   personLabel       283 non-null    object
 1   spouse1Label      283 non-null    object
 2   place_ownLabel    261 non-null    object
 3   place_spLabel     262 non-null    object
 4   marriage_date_st  283 non-null    object
 5   marriage_date_en  121 non-null    object
 6   bday_own          283 non-null    datetime64[ns, UTC]
 7   bday_sp           283 non-null    datetime64[ns, UTC]
 8   dday_own          56 non-null     object
 9   dday_sp           0 non-null      object
 10  genderLabel       283 non-null    object
 11  m_day             283 non-null    int32
 12  m_month           283 non-null    int32
 13  m_year            283 non-null    int32
 14  m_hour            283 non-null    int64
 15  m_min             283 non-null    int64
 16  m_tzone           283 non-null    float64
 17  f_day             283 non-null    int32
 18  f_month           283 non-null    int32
 19  f_year            283 non-null    int32
 20  f_hour            283 non-null    int64
 21  f_min             283 non-null    int64
 22  f_tzone           283 non-null    float64
 23  Coordinates_own   282 non-null    object
 24  Coordinates_sp    275 non-null    object
 25  m_lat             276 non-null    float64
 26  m_lon             276 non-null    float64
 27  f_lat             281 non-null    float64
 28  f_lon             281 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(6), int32(6), int64(4), object(11)
memory usage: 59.7+ KB

In [32]:
#clean
#If year of marriage end date is same is year of death, then remove

df1['dday_own']= pd.to_datetime(df1['dday_own'], errors = 'coerce')
df1['dday_sp']= pd.to_datetime(df1['dday_sp'], errors = 'coerce')
df1['marriage_date_en']= pd.to_datetime(df1['marriage_date_en'], errors = 'coerce')

In [33]:
df1 = df1[df_male['dday_own'].dt.year != df_male['marriage_date_en'].dt.year]

In [39]:
df1 = df1[df1['dday_own'].dt.year != df1['marriage_date_en'].dt.year]
df1 = df1[df1['dday_sp'].dt.year != df1['marriage_date_en'].dt.year]

In [52]:
#Remove rows wilh missing coordinates
df1.isnull().sum()
df1 = df1.dropna(subset=['place_ownLabel','place_spLabel','m_lat','f_lat','m_lon','f_lon'])

In [72]:
#Astro Data

dfx = df1
for index, row in dfx.iterrows():
    
    url = 'https://json.astrologyapi.com/v1/match_making_report'

    data = dict(
     m_day=row['m_day'],
     m_month=row['m_month'],
     m_year=row['m_year'],
     m_hour=row['m_hour'],
     m_min=row['m_min'],
     m_lat=row['m_lat'],
     m_lon=row['m_lon'],
     m_tzone=row['m_tzone'],
    
     f_day=row['f_day'],
     f_month=row['f_month'],
     f_year=row['f_year'],
     f_hour=row['f_hour'],
     f_min=row['f_min'],
     f_lat=row['f_lat'],
     f_lon=row['f_lon'],
     f_tzone=row['f_tzone']
        )

    r = requests.post(url=url, data=data, auth=("xxxxx","xxxxx"))
    print(f'Status {r.status_code}')
    
    api = r.json()
    
    dfx.loc[index, 'ashtakoota_ststus'] = api['ashtakoota']['status']
    dfx.loc[index, 'ashtakoota_received_points'] = api['ashtakoota']['received_points']
    dfx.loc[index, 'manglik_status'] = api['manglik']['status']
    dfx.loc[index, 'manglik_male_percentage'] = api['manglik']['male_percentage']
    dfx.loc[index, 'manglik_female_percentage'] = api['manglik']['female_percentage']
    dfx.loc[index, 'rajju_dosha_status'] = api['rajju_dosha']['status']
    dfx.loc[index, 'vedha_dosha_status'] = api['vedha_dosha']['status']
    dfx.loc[index, 'conclusion'] = api['conclusion']['match_report']
    
    #print(r.request.body)
    
    #dfx['sum'] = dfx['m_lat'] + dfx['f_lon']
    #print(row['m_lat'], row['f_lon'], row['sum'])

Status 200

C:\Users\suvad\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\suvad\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200
Status 200

In [76]:
dfx.to_csv('horo.csv')